

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#weather-info>div {
    line-height: 60px;
    vertical-align: middle;
}
#manual{
	display: none;
}













